#left{float: left;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
}

#right{float: right;
	margin-right: 150px;
    margin-left: 20px;
    margin-top: 20px;
	margin-bottom: 100px;
}

h3{font-size: 20pt;
	font-family: helvetica;
	font-weight: normal;
	padding-bottom: -30px;
	padding-left: 50px;

}

nav{float: right;
	margin-top: -50px;
	margin-right: 150px;
}

