#left{float: left;
    margin-right: 50px;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#right{float: right;
	margin-right: 290px;
    margin-left: 50px;
    margin-top: 50px;
	margin-bottom: 50px;
}