h1{color:white;}
h2{color:white;}
h2{font-weight:bolder;}
h3{font-style:italic;}
h3{font-weight:lighter;}
h3{color:white;}
body {
	padding: 100px;
	background-color: black;
	opacity:75.10;
}
p{color:white;}
a{text-decoration:none;color:gray;}
h1{text-decoration:none}
